# ENVIRONMENT VARIABLES
# This is an example file. Copy it and paste it twice into the root of your project:
# .env.development and .env.production

# Back-end env vars
# Private stuff! Never share!
ADMIN_POSTGRES_CONNECTION_STRING=postgresql://postgres:password_goes_here@db.project_id_goes_here.supabase.co:5432/postgres

# Front-end env vars
# DO NOT PUT ANY PRIVATE KEYS HERE
VITE_SUPABASE_URL=https://project_id_goes_here.supabase.co
VITE_SUPABASE_ANON_KEY=very.long.anon.key.goes.here
