:root {
  /* sizes */
  --gutter: 1rem;
  --leading: .5rem;

  /* type sizes */
  --s: .85rem;

  /* heatmap colors */
  --diablo: black;
  --fire: purple;
  --hot: red;
  --medium: orange;
  --mild: yellow;
  --empty: white;
}